@import './base.css';

body {
  display: block;
}

#app {
  width: 95vw;
  height: 96vh;
  margin: 2vh 3vw 2vh 2vw;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
